# IEOR E4501 Final Project_Gloria Li & Isha Yadav

[Project prompt](https://docs.google.com/document/d/1ogme9BJeHb2IZ6UREavUorF--nnxoWCYAAi8AZ4Q5jQ/edit?usp=sharing) and [grading rubric](https://docs.google.com/document/d/1XI9Yq_e-U-D3iH4jTPAtNteeP2Q9mtJ9NKbePWKeN_g/edit?usp=sharing).

## Setup

In [1]:
import numpy as np
import math
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import geopandas as gpd
import requests
import psycopg2
import pathlib
import os
import shapely
import subprocess

from shapely.geometry import Point
from matplotlib.dates import DateFormatter
from dateutil.relativedelta import relativedelta
from io import BytesIO
from sodapy import Socrata
from sqlalchemy import create_engine, text
from shapely.geometry import Point, Polygon
from geoalchemy2 import Geometry, WKTElement
from shapely.geometry.base import BaseGeometry
from datetime import datetime
from dateutil.relativedelta import relativedelta

c:\users\sidar\appdata\local\programs\python\python39\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

## Part 1: Data Preprocessing

### 1.1 Downloading the NYC OpenData datasets

#### 1.1.A Downloading & Cleaning 311 Complaint Data

In [2]:
app_token = 'aBYlzgjVOid4cigCMdpeUXvf6'

# Define URL using the field names & query parameters according to the official API documentation
service_request_url_base = (
    "https://data.cityofnewyork.us/resource/erm2-nwe9.geojson"
    "?$select="
    # Keeping only relevant columns, with Unique Key as the PrimaryKey
    "unique_key, created_date, incident_zip, complaint_type, city, "
    "x_coordinate_state_plane, y_coordinate_state_plane, latitude, longitude"
    "&$where="
    # Filtering data within the time frame of 01/01/2022 to 02/29/2024
    "created_date >= '2022-01-01T00:00:00' AND created_date <= '2024-02-29T23:59:59'"
    " AND incident_zip IS NOT NULL AND complaint_type IS NOT NULL AND city IS NOT NULL"
    " AND x_coordinate_state_plane IS NOT NULL AND y_coordinate_state_plane IS NOT NULL"
    " AND latitude IS NOT NULL AND longitude IS NOT NULL"
)

def fetch_data(url_base, max_records=7000000):
    offset = 0
    limit = 100000  # Set a high but manageable batch size for each API request
    frames = []
    
    while True:
        url = f"{url_base}&$limit={limit}&$offset={offset}&$$app_token={app_token}"
        response = requests.get(url)
        if response.status_code == 200:
            gdf = gpd.read_file(BytesIO(response.content))
            if gdf.empty:
                print("No more data available to download.")
                break
            
            frames.append(gdf)
            offset += limit  # Increment the offset by the limit to fetch the next batch of records until all rows are fetched
            print(f"Downloaded {len(gdf)} records, total downloaded: {offset}")
            
            if offset >= max_records:
                print("Reached the maximum record limit.")
                break
        else:
            print(f"Failed to download data. Status code: {response.status_code}, Response: {response.text}")
            break
    
    # Combine all fetched data into a single GeoDataFrame
    if frames:
        all_data = gpd.GeoDataFrame(pd.concat(frames, ignore_index=True))
        return all_data
    else:
        return gpd.GeoDataFrame()

# Fetch data
gdf_311 = fetch_data(service_request_url_base)

if not gdf_311.empty:
    # Normalize SRIDs if needed
    gdf_311.set_crs(epsg=4326, inplace=True)
    # Output for review
    print("\n311 Service Request Data Info and Preview:")
    print(gdf_311.info())
    print(gdf_311.head())
else:
    print("No data to display.")

Downloaded 100000 records, total downloaded: 100000
Downloaded 100000 records, total downloaded: 200000
Downloaded 100000 records, total downloaded: 300000
Downloaded 100000 records, total downloaded: 400000
Downloaded 100000 records, total downloaded: 500000
Downloaded 100000 records, total downloaded: 600000
Downloaded 100000 records, total downloaded: 700000
Downloaded 100000 records, total downloaded: 800000
Downloaded 100000 records, total downloaded: 900000
Downloaded 100000 records, total downloaded: 1000000
Downloaded 100000 records, total downloaded: 1100000
Downloaded 100000 records, total downloaded: 1200000
Downloaded 100000 records, total downloaded: 1300000
Downloaded 100000 records, total downloaded: 1400000
Downloaded 100000 records, total downloaded: 1500000
Downloaded 100000 records, total downloaded: 1600000
Downloaded 100000 records, total downloaded: 1700000
Downloaded 100000 records, total downloaded: 1800000
Downloaded 100000 records, total downloaded: 1900000
Downloaded 100000 records, total downloaded: 2000000
Downloaded 100000 records, total downloaded: 2100000
Downloaded 100000 records, total downloaded: 2200000
Downloaded 100000 records, total downloaded: 2300000
Downloaded 100000 records, total downloaded: 2400000
Downloaded 100000 records, total downloaded: 2500000
Downloaded 100000 records, total downloaded: 2600000
Downloaded 100000 records, total downloaded: 2700000
Downloaded 100000 records, total downloaded: 2800000
Downloaded 100000 records, total downloaded: 2900000
Downloaded 100000 records, total downloaded: 3000000
Downloaded 100000 records, total downloaded: 3100000
Downloaded 100000 records, total downloaded: 3200000
Downloaded 100000 records, total downloaded: 3300000
Downloaded 100000 records, total downloaded: 3400000
Downloaded 100000 records, total downloaded: 3500000
Downloaded 100000 records, total downloaded: 3600000
Downloaded 100000 records, total downloaded: 3700000
Downloaded 100000 records, total downloaded: 3800000
Downloaded 100000 records, total downloaded: 3900000
Downloaded 100000 records, total downloaded: 4000000
Downloaded 100000 records, total downloaded: 4100000
Downloaded 100000 records, total downloaded: 4200000
Downloaded 100000 records, total downloaded: 4300000
Downloaded 100000 records, total downloaded: 4400000
Downloaded 100000 records, total downloaded: 4500000
Downloaded 100000 records, total downloaded: 4600000
Downloaded 100000 records, total downloaded: 4700000
Downloaded 100000 records, total downloaded: 4800000
Downloaded 100000 records, total downloaded: 4900000
Downloaded 100000 records, total downloaded: 5000000
Downloaded 100000 records, total downloaded: 5100000
Downloaded 100000 records, total downloaded: 5200000
Downloaded 100000 records, total downloaded: 5300000
Downloaded 100000 records, total downloaded: 5400000
Downloaded 100000 records, total downloaded: 5500000
Downloaded 100000 records, total downloaded: 5600000
Downloaded 100000 records, total downloaded: 5700000
Downloaded 100000 records, total downloaded: 5800000
Downloaded 100000 records, total downloaded: 5900000
Downloaded 100000 records, total downloaded: 6000000
Downloaded 100000 records, total downloaded: 6100000
Downloaded 100000 records, total downloaded: 6200000
Downloaded 100000 records, total downloaded: 6300000
Downloaded 100000 records, total downloaded: 6400000
Downloaded 100000 records, total downloaded: 6500000
Downloaded 28421 records, total downloaded: 6600000
No more data available to download.

311 Service Request Data Info and Preview:
<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 6528421 entries, 0 to 6528420
Data columns (total 10 columns):
 #   Column                    Dtype
---  ------                    -----
 0   city                      object
 1   latitude                  object
 2   created_date              datetime64[ns]
 3   longitude                 object
 4   incident_zip              object
 5   unique_key                object
 6   complaint_type            object
 7   y_coordinate_state_plane  object
 8   x_coordinate_state_plane  object
 9   geometry                  geometry
dtypes: datetime64[ns](1), geometry(1), object(8)
memory usage: 498.1+ MB
None
                  city            latitude        created_date  \
0             BROOKLYN   40.61984470790165 2024-02-29 23:59:31
1             BROOKLYN   40.62326209885787 2024-02-29 23:59:27
2             BROOKLYN  40.700045051717986 2024-02-29 23:59:13
3       QUEENS VILLAGE  40.713059105370455 2024-02-29 23:58:39
4  SOUTH RICHMOND HILL   40.68414711447904 2024-02-29 23:58:22

            longitude incident_zip unique_key      complaint_type  \
0  -73.98238922950797        11204   60462274        Building/Use
1  -74.03020533301675        11209   60452687      HEAT/HOT WATER
2  -73.91198085791687        11237   60451322     Noise - Vehicle
3  -73.75260269888014        11429   60449904    Blocked Driveway
4  -73.83262819498826        11419   60452421  Noise - Commercial

  y_coordinate_state_plane x_coordinate_state_plane geometry
0                   165103                   989139     None
1                   166349                   975865     None
2                   194334                  1008656     None
3                   199160                  1052835     None
4                   188574                  1030670     None

In [3]:
gdf_311.set_crs(epsg=4326, inplace=True)

,city,latitude,created_date,longitude,incident_zip,unique_key,complaint_type,y_coordinate_state_plane,x_coordinate_state_plane,geometry
0,BROOKLYN,40.61984470790165,2024-02-29 23:59:31,-73.98238922950797,11204,60462274,Building/Use,165103,989139,None
1,BROOKLYN,40.62326209885787,2024-02-29 23:59:27,-74.03020533301675,11209,60452687,HEAT/HOT WATER,166349,975865,None
2,BROOKLYN,40.700045051717986,2024-02-29 23:59:13,-73.91198085791687,11237,60451322,Noise - Vehicle,194334,1008656,None
3,QUEENS VILLAGE,40.713059105370455,2024-02-29 23:58:39,-73.75260269888014,11429,60449904,Blocked Driveway,199160,1052835,None
4,SOUTH RICHMOND HILL,40.68414711447904,2024-02-29 23:58:22,-73.83262819498826,11419,60452421,Noise - Commercial,188574,1030670,None
...,...,...,...,...,...,...,...,...,...,...
6528416,BRONX,40.82980806226658,2022-01-01 00:01:17,-73.91923492133385,10456,52931678,Noise - Residential,241609,1006601,None
6528417,NEW YORK,40.80256198626038,2022-01-01 00:01:04,-73.96417609586966,10025,52938624,Noise - Street/Sidewalk,231674,994168,None
6528418,BROOKLYN,40.59747269272421,2022-01-01 00:00:57,-73.98885877127528,11214,52933158,Noise - Residential,156952,987344,None
6528419,BROOKLYN,40.72314288436064,2022-01-01 00:00:10,-73.94366208445774,11222,52934953,Noise - Street/Sidewalk,202742,999866,None
6528420,NEW YORK,40.75666417742652,2022-01-01 00:00:00,-73.99019293432467,10036,52940375,Air Quality,214950,986967,None

#### 1.1.B Downloading & Cleaning 2015 Tree Data

In [44]:
app_token = 'aBYlzgjVOid4cigCMdpeUXvf6'

# Define URL using the field names & query parameters according to the official API documentation
# Keeping only relevant columns, with Tree ID as the PrimaryKey:
tree_url_base = (
    "https://data.cityofnewyork.us/resource/5rq2-4hqu.geojson"
    "?$select=tree_id, spc_common, health, status, zipcode, latitude, longitude, x_sp, y_sp"
    "&$where=latitude IS NOT NULL AND longitude IS NOT NULL AND spc_common IS NOT NULL"
    "&$limit=700000"
)

def fetch_data(url):
    response = requests.get(url)
    if response.status_code == 200:
        gdf = gpd.read_file(BytesIO(response.content))
        if gdf.empty:
            print("No more data available to download.")
        else:
            print(f"Downloaded {len(gdf)} rows")
        return gdf
    else:
        print("Failed to download data. Status code:", response.status_code)
        return gpd.GeoDataFrame()

# Fetch tree data
gdf_trees = fetch_data(tree_url_base)

# Normalize SRIDs if necessary to ensure consistency
gdf_trees.set_crs(epsg=4326, inplace=True)  # Assuming the data needs to be in WGS 84

# Remove any duplicate entries
gdf_trees.drop_duplicates(subset=['tree_id'], inplace=True)

# Display tree data for verification
print("Tree Data Info and Preview:")
print(gdf_trees.info())
print(gdf_trees.head())

Downloaded 652169 rows
Tree Data Info and Preview:
<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 652169 entries, 0 to 652168
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   health      652167 non-null  object
 1   zipcode     652169 non-null  object
 2   latitude    652169 non-null  object
 3   y_sp        652169 non-null  object
 4   tree_id     652169 non-null  object
 5   spc_common  652169 non-null  object
 6   x_sp        652169 non-null  object
 7   longitude   652169 non-null  object
 8   status      652169 non-null  object
 9   geometry    0 non-null       geometry
dtypes: geometry(1), object(9)
memory usage: 49.8+ MB
None
  health zipcode     latitude           y_sp tree_id       spc_common  \
0   Fair   11375  40.72309177  202756.768749  180683        red maple
1   Fair   11357  40.79411067  228644.837379  200540          pin oak
2   Good   11211  40.71758074  200716.891267  204026      honeylocust
3   Good   11211  40.71353749  199244.253136  204337      honeylocust
4   Good   11215  40.66677776  182202.425999  189565  American linden

            x_sp     longitude status geometry
0  1027431.14821  -73.84421522  Alive     None
1  1034455.70109  -73.81867946  Alive     None
2  1001822.83131   -73.9366077  Alive     None
3  1002420.35833  -73.93445616  Alive     None
4  990913.775046  -73.97597938  Alive     None

In [45]:
gdf_trees.set_crs(epsg=4326, inplace=True)

,health,zipcode,latitude,y_sp,tree_id,spc_common,x_sp,longitude,status,geometry
0,Fair,11375,40.72309177,202756.768749,180683,red maple,1027431.14821,-73.84421522,Alive,None
1,Fair,11357,40.79411067,228644.837379,200540,pin oak,1034455.70109,-73.81867946,Alive,None
2,Good,11211,40.71758074,200716.891267,204026,honeylocust,1001822.83131,-73.9366077,Alive,None
3,Good,11211,40.71353749,199244.253136,204337,honeylocust,1002420.35833,-73.93445616,Alive,None
4,Good,11215,40.66677776,182202.425999,189565,American linden,990913.775046,-73.97597938,Alive,None
...,...,...,...,...,...,...,...,...,...,...
652164,Good,11211,40.71321078,199121.636255,155433,pin oak,996740.685965,-73.95494401,Alive,None
652165,Good,11375,40.71519444,199873.647547,183795,Kentucky yellowwood,1023989.07438,-73.8566502,Alive,None
652166,Good,10314,40.62076153,165466.07627,166161,red maple,946351.410431,-74.13651724,Alive,None
652167,Good,10457,40.85082819,249271.950653,184028,red maple,1011053.64553,-73.90311472,Alive,None
652168,Fair,11365,40.73216525,206095.538318,200607,red maple,1043136.35794,-73.78752646,Alive,None

### 1.2 Saving Zillow and Zip Shapefile into Jupyter Directory

In [52]:
# Loading local data files
data_dir = pathlib.Path("")
rent_path = data_dir / "zillow_rent_data.csv"
df_zillow = pd.read_csv(rent_path)

shapefile_path = data_dir / "nyc_zipcodes.shp"
gdf_zipcode = gpd.read_file(shapefile_path)
gdf_zipcode = gdf_zipcode.to_crs("EPSG:4326")

### 1.3 Downloading & Cleaning  Zillow historical rent dataset

In [53]:


# Load Zillow data from the uploaded CSV file
df_zillow = pd.read_csv(rent_path)

all_zillow_col = df_zillow.columns
all_zillow_col = all_zillow_col[93:]

# Define the columns to always include that do not contain dates
always_include = ['RegionName', 'RegionID', 'CountyName', 'City', '2022-01-31', '2022-02-28', '2022-03-31', '2022-04-30', '2022-05-31',
       '2022-06-30', '2022-07-31', '2022-08-31', '2022-09-30', '2022-10-31',
       '2022-11-30', '2022-12-31', '2023-01-31', '2023-02-28', '2023-03-31',
       '2023-04-30', '2023-05-31', '2023-06-30', '2023-07-31', '2023-08-31',
       '2023-09-30', '2023-10-31', '2023-11-30', '2023-12-31', '2024-01-31' ]

# Filter the DataFrame to keep only the relevant columns
df_zillow_filtered = df_zillow[always_include]

# Display DataFrame information and first few rows for review
df_info = df_zillow_filtered.info()
df_head = df_zillow_filtered.head()

df_info, df_head.to_dict()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6632 entries, 0 to 6631
Data columns (total 29 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   RegionName  6632 non-null   int64
 1   RegionID    6632 non-null   int64
 2   CountyName  6632 non-null   object
 3   City        6572 non-null   object
 4   2022-01-31  3430 non-null   float64
 5   2022-02-28  3595 non-null   float64
 6   2022-03-31  3748 non-null   float64
 7   2022-04-30  3816 non-null   float64
 8   2022-05-31  3919 non-null   float64
 9   2022-06-30  4020 non-null   float64
 10  2022-07-31  4071 non-null   float64
 11  2022-08-31  4119 non-null   float64
 12  2022-09-30  4148 non-null   float64
 13  2022-10-31  4242 non-null   float64
 14  2022-11-30  4315 non-null   float64
 15  2022-12-31  4396 non-null   float64
 16  2023-01-31  4575 non-null   float64
 17  2023-02-28  4660 non-null   float64
 18  2023-03-31  4829 non-null   float64
 19  2023-04-30  4924 non-null   float64
 20  2023-05-31  5039 non-null   float64
 21  2023-06-30  5107 non-null   float64
 22  2023-07-31  5131 non-null   float64
 23  2023-08-31  5189 non-null   float64
 24  2023-09-30  5230 non-null   float64
 25  2023-10-31  5340 non-null   float64
 26  2023-11-30  5472 non-null   float64
 27  2023-12-31  5743 non-null   float64
 28  2024-01-31  6631 non-null   float64
dtypes: float64(25), int64(2), object(2)
memory usage: 1.5+ MB

(None,
 {'RegionName': {0: 77494, 1: 8701, 2: 77449, 3: 77084, 4: 79936},
  'RegionID': {0: 91982, 1: 61148, 2: 91940, 3: 91733, 4: 93144},
  'CountyName': {0: 'Fort Bend County',
   1: 'Ocean County',
   2: 'Harris County',
   3: 'Harris County',
   4: 'El Paso County'},
  'City': {0: 'Katy', 1: 'Lakewood', 2: 'Katy', 3: 'Houston', 4: 'El Paso'},
  '2022-01-31': {0: 1764.281649,
   1: nan,
   2: 1691.715721,
   3: 1751.842997,
   4: 1226.724085},
  '2022-02-28': {0: 1762.262439,
   1: nan,
   2: 1721.39708,
   3: 1773.675787,
   4: 1223.121466},
  '2022-03-31': {0: 1770.552861,
   1: nan,
   2: 1742.841518,
   3: 1784.44392,
   4: 1224.864669},
  '2022-04-30': {0: 1785.325091,
   1: nan,
   2: 1764.553406,
   3: 1799.293931,
   4: 1236.405718},
  '2022-05-31': {0: 1810.321876,
   1: nan,
   2: 1744.354038,
   3: 1817.116064,
   4: 1260.719044},
  '2022-06-30': {0: 1833.942229,
   1: nan,
   2: 1743.677698,
   3: 1830.05142,
   4: 1272.443037},
  '2022-07-31': {0: 1856.062108,
   1: nan,
   2: 1781.779706,
   3: 1845.910037,
   4: 1309.448956},
  '2022-08-31': {0: 1857.089958,
   1: nan,
   2: 1845.912781,
   3: 1824.872096,
   4: 1326.344338},
  '2022-09-30': {0: 1850.251951,
   1: nan,
   2: 1847.88275,
   3: 1823.266431,
   4: 1347.311781},
  '2022-10-31': {0: 1840.88284,
   1: nan,
   2: 1827.755137,
   3: 1801.659511,
   4: 1332.991376},
  '2022-11-30': {0: 1826.146229,
   1: nan,
   2: 1788.139921,
   3: 1811.823633,
   4: 1339.029177},
  '2022-12-31': {0: 1828.661399,
   1: nan,
   2: 1785.265579,
   3: 1807.044716,
   4: 1341.677097},
  '2023-01-31': {0: 1850.320641,
   1: nan,
   2: 1777.611107,
   3: 1811.758914,
   4: 1376.028266},
  '2023-02-28': {0: 1860.077305,
   1: nan,
   2: 1787.646596,
   3: 1811.46437,
   4: 1391.675788},
  '2023-03-31': {0: 1867.984989,
   1: nan,
   2: 1796.241781,
   3: 1827.186575,
   4: 1384.47629},
  '2023-04-30': {0: 1843.953065,
   1: nan,
   2: 1799.232097,
   3: 1841.080353,
   4: 1373.506118},
  '2023-05-31': {0: 1853.54622,
   1: nan,
   2: 1803.978538,
   3: 1859.306448,
   4: 1378.743001},
  '2023-06-30': {0: 1860.80506,
   1: nan,
   2: 1815.603187,
   3: 1864.888023,
   4: 1381.945632},
  '2023-07-31': {0: 1873.335787,
   1: nan,
   2: 1824.661645,
   3: 1860.577001,
   4: 1405.219882},
  '2023-08-31': {0: 1879.08048,
   1: nan,
   2: 1837.338997,
   3: 1864.587265,
   4: 1403.055653},
  '2023-09-30': {0: 1882.092604,
   1: nan,
   2: 1837.127291,
   3: 1861.1555,
   4: 1409.57161},
  '2023-10-31': {0: 1877.636803,
   1: nan,
   2: 1822.343233,
   3: 1889.310623,
   4: 1414.197679},
  '2023-11-30': {0: 1857.636589,
   1: nan,
   2: 1809.231267,
   3: 1879.227108,
   4: 1418.818592},
  '2023-12-31': {0: 1846.701735,
   1: nan,
   2: 1813.118556,
   3: 1886.003582,
   4: 1434.125145},
  '2024-01-31': {0: 1839.65496,
   1: 1772.5,
   2: 1830.410884,
   3: 1881.000505,
   4: 1430.949495}})

In [54]:
df_zillow.describe()

,RegionID,SizeRank,RegionName,2015-01-31,2015-02-28,2015-03-31,2015-04-30,2015-05-31,2015-06-30,2015-07-31,...,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31
count,6632.000000,6632.000000,6632.000000,684.000000,706.000000,738.000000,750.000000,760.000000,766.000000,768.000000,...,4924.000000,5039.000000,5107.000000,5131.000000,5189.000000,5230.000000,5340.000000,5472.000000,5743.000000,6631.000000
mean,85145.237334,4328.321472,53665.663299,1383.324842,1389.481690,1400.536994,1418.388717,1428.819882,1438.807002,1445.678877,...,1993.141606,2001.326195,2006.338726,2015.721708,2026.442338,2062.243680,2053.927047,2048.173956,2042.637295,2089.964183
std,42009.626029,3403.999935,30031.537618,612.957933,613.263538,617.606832,624.110268,628.040697,633.675322,637.187988,...,1325.938193,1361.713700,1367.780111,1363.167197,1418.889693,2295.744462,2273.006540,2351.420610,2491.766896,3055.427449
min,58197.000000,1.000000,1002.000000,551.829341,549.959262,552.157170,554.960822,565.465233,573.144449,575.277202,...,600.801756,609.909707,613.769738,619.201427,622.721860,629.143608,607.228837,600.647631,605.206943,595.000000
25%,70755.750000,1765.500000,29731.500000,1002.254532,1005.407295,1015.271889,1034.649980,1042.823187,1049.794803,1055.613821,...,1475.004579,1476.302188,1473.123206,1481.457653,1481.538088,1485.386176,1483.357886,1478.988539,1472.520806,1453.222118
50%,80848.500000,3691.000000,50237.000000,1210.134974,1220.005625,1230.540887,1246.318066,1252.530868,1259.264758,1262.969128,...,1830.955955,1839.368325,1843.098391,1853.218765,1852.632427,1850.343895,1843.716073,1831.339910,1826.700692,1821.636111
75%,93632.250000,6121.500000,80529.500000,1540.945777,1550.435697,1566.938267,1598.061087,1610.910492,1626.248261,1626.120641,...,2277.745966,2295.987779,2303.405080,2315.581170,2330.982809,2333.237004,2321.315403,2315.488229,2305.996831,2325.946039
max,827279.000000,30490.000000,99705.000000,5342.134698,5545.637773,5805.423194,5762.407855,5712.534426,5813.091613,5950.307548,...,39332.696280,41620.788400,46306.562170,46763.436390,45885.889610,120853.466700,123515.557900,133640.319600,152145.383700,156555.533300

In [55]:
# Filter to include only entries where City is 'New York'
df_zillow_filtered=df_zillow_filtered[df_zillow_filtered['City']=='New York']
df_zillow_filtered.head(6632)

,RegionName,RegionID,CountyName,City,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,...,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31
5,11385,62093,Queens County,New York,2509.054214,2511.479296,2523.393469,2567.347532,2643.069051,2741.305526,...,2808.032817,2853.002812,2891.976411,2912.450226,2938.806070,2955.446452,2944.372938,2918.206892,2888.346480,2880.094236
7,11208,62019,Kings County,New York,NaN,NaN,2175.876695,2221.684226,2244.635030,2281.951598,...,2436.143335,2482.460397,2611.911540,2574.997140,2545.014303,2534.897818,2553.020263,2648.498763,2642.337313,2704.611111
13,11236,62046,Kings County,New York,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2269.106840,2338.199472,2360.574201,2387.586858,2402.457491,2487.500000
14,10467,61807,Bronx County,New York,1550.922543,1607.726640,1647.610455,1671.162249,1664.858068,1677.572862,...,1695.177852,1748.353876,1825.836631,1883.032947,1899.143080,1958.261105,1987.880524,2066.328960,2011.173298,2036.252778
15,11373,62085,Queens County,New York,2235.261917,2274.638306,2340.801631,2381.756319,2407.443451,2444.372215,...,2595.856831,2570.915900,2608.660190,2596.701012,2660.168354,2642.649107,2670.325604,2668.151494,2672.319180,2689.050000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6375,10280,61771,New York County,New York,4112.799138,4204.602103,4274.980466,4280.863924,4277.871521,4269.392150,...,4412.441417,4483.983624,4533.245597,4613.955728,4621.894250,4647.778216,4569.463105,4559.732705,4424.083102,4307.705803
6475,10282,61773,New York County,New York,5853.160248,5774.935003,6063.839892,6330.286461,6569.935447,6715.858614,...,7036.754731,6980.121285,7092.098977,7124.896337,6962.699767,6866.420029,6739.684950,6868.710937,6777.653684,6906.666667
6482,11109,62010,Queens County,New York,3972.759987,4026.796391,4085.205381,4179.727583,4267.817844,4342.227011,...,4485.793991,4536.940052,4553.962333,4646.028252,4696.226932,4738.496958,4659.700057,4571.279711,4486.991402,4481.239177
6553,10006,61620,New York County,New York,3509.910596,3526.609738,3618.528928,3671.320084,3758.945963,3834.065094,...,3854.075866,3958.198260,3976.243216,3968.035550,3949.256636,3970.440764,3999.572587,4004.023222,3921.431891,3914.000000
6630,10004,61618,New York County,New York,4752.515243,4843.820519,5006.078218,5040.592965,5150.997327,5211.324315,...,5214.029414,5241.715117,5303.140730,5266.321434,5361.400722,5366.014683,5425.512870,5307.152249,5063.896586,5030.416667

### 1.4 Downloading & Cleaning NYC Zipcode Shapefile dataset

In [11]:
# Loading the shapefile
gdf_zipcodes = gpd.read_file(shapefile_path)
gdf_zipcodes = gdf_zipcodes.to_crs("EPSG:4326")


# Display initial data
print("Initial DataFrame Info:")
print(gdf_zipcodes.info())
print(gdf_zipcodes.head())

# Cleaning and filtering the GeoDataFrame
# Removing unnecessary columns - let's assume we only need the ZIP Code and the geometry for your project
gdf_zipcodes = gdf_zipcodes[['ZIPCODE', 'geometry']]

# Normalize column names
gdf_zipcodes.columns = ['zip_code', 'geometry']

# Normalize the Spatial Reference Identifier (SRID) to a common one used in other datasets (e.g., WGS 84 - EPSG:4326)
gdf_zipcodes = gdf_zipcodes.to_crs(epsg=4326)

# Remove invalid data points - assuming all zip codes in this file are valid as per the dataset scope
# If there were criteria to filter invalid data, they would be applied here

# Check for and remove any duplicates based on the 'zip_code' column
gdf_zipcodes.drop_duplicates(subset='zip_code', inplace=True)

# Final DataFrame output for review
print("\nFinal DataFrame Info:")
print(gdf_zipcodes.info())
print(gdf_zipcodes.head())

Initial DataFrame Info:
<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ZIPCODE     263 non-null    object
 1   BLDGZIP     263 non-null    object
 2   PO_NAME     263 non-null    object
 3   POPULATION  263 non-null    float64
 4   AREA        263 non-null    float64
 5   STATE       263 non-null    object
 6   COUNTY      263 non-null    object
 7   ST_FIPS     263 non-null    object
 8   CTY_FIPS    263 non-null    object
 9   URL         263 non-null    object
 10  SHAPE_AREA  263 non-null    float64
 11  SHAPE_LEN   263 non-null    float64
 12  geometry    263 non-null    geometry
dtypes: float64(4), geometry(1), object(8)
memory usage: 26.8+ KB
None
  ZIPCODE BLDGZIP   PO_NAME  POPULATION          AREA STATE  COUNTY ST_FIPS  \
0   11436       0   Jamaica     18681.0  2.269930e+07    NY  Queens      36
1   11213       0  Brooklyn     62426.0  2.963100e+07    NY   Kings      36
2   11212       0  Brooklyn     83866.0  4.197210e+07    NY   Kings      36
3   11225       0  Brooklyn     56527.0  2.369863e+07    NY   Kings      36
4   11218       0  Brooklyn     72280.0  3.686880e+07    NY   Kings      36

  CTY_FIPS                   URL  SHAPE_AREA  SHAPE_LEN  \
0      081  http://www.usps.com/         0.0        0.0
1      047  http://www.usps.com/         0.0        0.0
2      047  http://www.usps.com/         0.0        0.0
3      047  http://www.usps.com/         0.0        0.0
4      047  http://www.usps.com/         0.0        0.0

                                            geometry
0  POLYGON ((-73.80585 40.68291, -73.80569 40.682...
1  POLYGON ((-73.93740 40.67973, -73.93487 40.679...
2  POLYGON ((-73.90294 40.67084, -73.90223 40.668...
3  POLYGON ((-73.95797 40.67066, -73.95576 40.670...
4  POLYGON ((-73.97208 40.65060, -73.97192 40.650...

Final DataFrame Info:
<class 'geopandas.geodataframe.GeoDataFrame'>
Index: 248 entries, 0 to 262
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   zip_code  248 non-null    object
 1   geometry  248 non-null    geometry
dtypes: geometry(1), object(1)
memory usage: 5.8+ KB
None
  zip_code                                           geometry
0    11436  POLYGON ((-73.80585 40.68291, -73.80569 40.682...
1    11213  POLYGON ((-73.93740 40.67973, -73.93487 40.679...
2    11212  POLYGON ((-73.90294 40.67084, -73.90223 40.668...
3    11225  POLYGON ((-73.95797 40.67066, -73.95576 40.670...
4    11218  POLYGON ((-73.97208 40.65060, -73.97192 40.650...

In [12]:
# Load the shapefile and ensure CRS is set to WGS 84 (EPSG:4326)
gdf_zipcodes = gpd.read_file(shapefile_path)
gdf_zipcodes = gdf_zipcodes.to_crs("EPSG:4326")

# Select only the required columns, ensuring we reference them by their correct current names
# Use the original column names if the DataFrame hasn't been modified yet, otherwise use the new names.
try:
    gdf_filtered = gdf_zipcodes[['ZIPCODE', 'PO_NAME', 'STATE', 'COUNTY', 'geometry']]
except KeyError:
    gdf_filtered = gdf_zipcodes[['zip_code', 'post_office_name', 'state', 'county', 'geometry']]

# Optionally, rename columns to maintain consistency or meet requirements
gdf_filtered.columns = ['zip_code', 'post_office_name', 'state', 'county', 'geometry']

# Display the filtered DataFrame
print(gdf_filtered.head())

  zip_code post_office_name state  county  \
0    11436          Jamaica    NY  Queens
1    11213         Brooklyn    NY   Kings
2    11212         Brooklyn    NY   Kings
3    11225         Brooklyn    NY   Kings
4    11218         Brooklyn    NY   Kings

                                            geometry
0  POLYGON ((-73.80585 40.68291, -73.80569 40.682...
1  POLYGON ((-73.93740 40.67973, -73.93487 40.679...
2  POLYGON ((-73.90294 40.67084, -73.90223 40.668...
3  POLYGON ((-73.95797 40.67066, -73.95576 40.670...
4  POLYGON ((-73.97208 40.65060, -73.97192 40.650...

In [13]:
gdf_filtered.head(300)

,zip_code,post_office_name,state,county,geometry
0,11436,Jamaica,NY,Queens,"POLYGON ((-73.80585 40.68291, -73.80569 40.682..."
1,11213,Brooklyn,NY,Kings,"POLYGON ((-73.93740 40.67973, -73.93487 40.679..."
2,11212,Brooklyn,NY,Kings,"POLYGON ((-73.90294 40.67084, -73.90223 40.668..."
3,11225,Brooklyn,NY,Kings,"POLYGON ((-73.95797 40.67066, -73.95576 40.670..."
4,11218,Brooklyn,NY,Kings,"POLYGON ((-73.97208 40.65060, -73.97192 40.650..."
...,...,...,...,...,...
258,10310,Staten Island,NY,Richmond,"POLYGON ((-74.12065 40.64104, -74.12057 40.641..."
259,11693,Far Rockaway,NY,Kings,"POLYGON ((-73.84076 40.62536, -73.84306 40.627..."
260,11249,Brooklyn,NY,Kings,"POLYGON ((-73.95805 40.72442, -73.95772 40.724..."
261,10162,New York,NY,New York,"POLYGON ((-73.95133 40.76931, -73.95165 40.769..."
262,10119,New York,NY,New York,"POLYGON ((-73.99354 40.75145, -73.99320 40.751..."

## Part 2: Storing Data

### 2.1 Creating tables

In [33]:
db_username = "postgres"
db_password = "postgres"  # Replace with your actual password
db_name = "testing"

def setup_new_postgis_database(user_name, db_name, password):
    # Set environment variable for PostgreSQL password
    os.environ['PGPASSWORD'] = password

    # Check if the database exists
    db_exists = subprocess.run(['psql', '-U', user_name, '-d', db_name, '-c', 'SELECT 1'],
                                stdout=subprocess.PIPE, stderr=subprocess.PIPE)
    
    if db_exists.returncode != 0:
        print("Database does not exist, creating database.")
        
        # Create the database
        if os.system(f'createdb -U {user_name} {db_name}') != 0:
            return "Error creating the database."
    else:
        print("Database already exists.")

    # Check if PostGIS extension exists
    check_postgis = subprocess.run(['psql', '-U', user_name, '-d', db_name, '-c',
                                    "SELECT 'POSTGIS' AS extension FROM pg_extension WHERE extname='postgis';"],
                                    stdout=subprocess.PIPE, stderr=subprocess.PIPE)
    
    if 'POSTGIS' not in str(check_postgis.stdout):
        print("PostGIS extension does not exist, creating extension.")
        
        # Create PostGIS extension if not already existing
        if os.system(f'psql -U {user_name} --dbname {db_name} -c "CREATE EXTENSION IF NOT EXISTS postgis;"') != 0:
            return "Error creating PostGIS extension."
    else:
        print("PostGIS extension already exists.")

    return "Database setup completed successfully."

print(setup_new_postgis_database(db_username, db_name, db_password))

Database already exists.
PostGIS extension already exists.
Database setup completed successfully.

In [14]:
db_username = "postgres"
db_password = "postgres"  # Replace with your actual password
db_name = "testing"

def setup_new_postgis_database(user_name, db_name, password):
    # Set environment variable for PostgreSQL password
    os.environ['PGPASSWORD'] = password

    # Terminate all existing connections to the database
    disconnect_command = f"SELECT pg_terminate_backend(pg_stat_activity.pid) FROM pg_stat_activity WHERE pg_stat_activity.datname = '{db_name}' AND pid <> pg_backend_pid();"
    if os.system(f'psql -U {user_name} --dbname postgres -c "{disconnect_command}"') != 0:
        return "Error disconnecting existing connections."

    # Drop the database if it exists
    if os.system(f'dropdb -U {user_name} --if-exists {db_name}') != 0:
        return "Error dropping the database."

    # Create the database
    if os.system(f'createdb -U {user_name} {db_name}') != 0:
        return "Error creating the database."

    # Create PostGIS extension
    if os.system(f'psql -U {user_name} --dbname {db_name} -c "CREATE EXTENSION IF NOT EXISTS postgis;"') != 0:
        return "Error creating PostGIS extension."

    return "Database setup completed successfully."

print(setup_new_postgis_database(db_username, db_name, db_password))

Database setup completed successfully.

In [34]:
db_url = f"postgresql+psycopg2://{db_username}:{db_password}@localhost/{db_name}"

In [35]:
engine = create_engine(db_url)

In [38]:
# Schema for the 311 service requests in NYC
create_311_table = """
CREATE TABLE IF NOT EXISTS tbl_nyc_311
(
    id_complaint INTEGER PRIMARY KEY, -- Explicitly retaining manual control over IDs
    complaint_date DATE,
    type_complaint TEXT,
    zip_code INTEGER,
    city_name TEXT,
    coord_x INTEGER,
    coord_y INTEGER,
    geo_latitude FLOAT,
    geo_longitude FLOAT,
    point_geom GEOMETRY(Point, 4326)
);

-- Creating a spatial index for efficient geo-queries
CREATE INDEX IF NOT EXISTS idx_311_geometry ON tbl_nyc_311 USING GIST (point_geom);
"""

# Schema for trees in NYC
create_tree_table = """
CREATE TABLE IF NOT EXISTS tbl_nyc_tree
(
    id_tree INTEGER PRIMARY KEY,
    tree_status TEXT,
    tree_health TEXT,
    tree_species TEXT,
    zip_code INTEGER,
    city_name TEXT,
    geo_lat FLOAT,
    geo_long FLOAT,
    coord_x FLOAT,
    coord_y FLOAT,
    point_geom GEOMETRY(Point, 4326)
);

-- Spatial index for the tree data
CREATE INDEX IF NOT EXISTS idx_tree_geometry ON tbl_nyc_tree USING GIST (point_geom);
"""

# Rent data schema with dynamically generated fields for each month
rental_start_date = datetime(2022, 1, 31)
rental_end_date = datetime(2024, 1, 31)
rent_dates = []
current_date = rental_start_date

while current_date <= rental_end_date:
    month_year = current_date.strftime("%Y%m")
    rent_dates.append(f"rent_{month_year}_amt FLOAT")
    current_date += relativedelta(months=1)

rent_columns = ",\n    ".join(rent_dates)
create_rent_table = (
    "CREATE TABLE IF NOT EXISTS tbl_nyc_rent\n"
    "(\n"
    "    zip_code INTEGER PRIMARY KEY,\n"
    "    state_code TEXT,\n"
    "    city_name TEXT,\n"
    "    " + rent_columns + "\n"
    ");"
)

# Schema for the geographical representation of NYC zip codes
create_zipcode_table = """
CREATE TABLE IF NOT EXISTS tbl_nyc_zipcode
(
    zip_code INTEGER PRIMARY KEY,
    city_name TEXT,
    state_code TEXT,
    county_name TEXT,
    poly_geom GEOMETRY(Polygon, 4326)
);

-- Index to speed up spatial queries
CREATE INDEX IF NOT EXISTS idx_zipcode_geometry ON tbl_nyc_zipcode USING GIST (poly_geom);
"""

In [39]:
# Executing the schema files to create tables
def create_table(engine, table_schema):
    """Creating a table using the SQL schema"""
    try:
        with engine.connect() as connection:
            connection.execute(text(table_schema))
        print("Table Created")
    except Exception as e:
        print(f"Error: {e}")

In [40]:
# Creating 4 tables
create_table(engine, create_311_table)
create_table(engine, create_tree_table)
create_table(engine, create_rent_table)
create_table(engine, create_zipcode_table)

Table Created
Table Created
Table Created
Table Created

### 2.2 Adding data into tables

In [41]:
def upload_dataframes_to_sql(dataframes_dict, sql_engine):
    """Upload dataframes to a SQL database, handling both standard and GeoDataFrames."""
    for table, dataframe in dataframes_dict.items():
        # Determine if the dataframe contains geographical data
        if isinstance(dataframe, gpd.GeoDataFrame):
            # Transform geometries to WKT elements if needed
            dataframe['geometry'] = dataframe['geometry'].apply(
                lambda geom: WKTElement(geom.wkt, srid=4326) if isinstance(geom, BaseGeometry) else geom
            )
            # Specify geometry data type for SQL
            geom_type = 'GEOMETRY'
            # Attempt to write GeoDataFrame to SQL
            try:
                dataframe.to_sql(table, con=sql_engine, if_exists='replace', index=False,
                                 dtype={'geometry': Geometry(geom_type, srid=4326)})
                print(f"Uploaded GeoDataFrame to {table}.")
            except Exception as error:
                print(f"Failed to upload {table}: {error}")
        else:
            # Handle non-geographical dataframes
            try:
                dataframe.to_sql(table, con=sql_engine, if_exists='replace', index=False)
                print(f"Uploaded DataFrame to {table}.")
            except Exception as error:
                print(f"Failed to upload {table}: {error}")

In [57]:
# Copying dataframes to prepare them for SQL upload
# zipcode_data_sql = gdf_zipcodes.copy()
# complaints_data_sql = gdf_311.copy()
#trees_data_sql = gdf_trees.copy()
rent_data_sql = df_zillow.copy()

# Mapping table names to the corresponding DataFrames for SQL upload
dataframes_dict = {
#     "nyc_zipcodes": zipcode_data_sql,
#     "nyc_311_complaints": complaints_data_sql,
#    "nyc_trees": trees_data_sql,
     "nyc_rents": rent_data_sql,
}

In [58]:
upload_dataframes_to_sql(dataframes_dict, engine)

Uploaded DataFrame to nyc_rents.

## Part 3: Understanding the Data

In [29]:
# Create directory where DB queries will be saved
QUERY_DIR = pathlib.Path("queries")

if not QUERY_DIR.exists():
    QUERY_DIR.mkdir()

In [155]:
# Writing SQL to a file
def write_query_to_file(query, filename):
    with open(filename, 'w') as file:
        file.write(query)

### Query 1: Which area might be more calm to live in?
Between March 1st, 2023 and February 29th, 2024 (inclusive),  the number of 311 complaints per zip code.

In [156]:
QUERY_1_FILENAME = QUERY_DIR / "311complaints_per_zipcode.sql"
"""The number of 311 complaints per zip code"""
# SQL Query
QUERY_1 = """
SELECT incident_zip, COUNT(unique_key) as ttl_complaints
FROM "nyc_311_complaints"
WHERE DATE(created_date) BETWEEN '2022-10-01' AND '2023-09-30'
GROUP BY incident_zip
ORDER BY ttl_complaints DESC;
"""

# Writing SQL to a file
write_query_to_file(QUERY_1, QUERY_1_FILENAME)

# Executing Query
with engine.connect() as conn:
    result = conn.execute(text(QUERY_1))
    for row in result:
        print(row)

('11226', 48490)
('10467', 46104)
('10468', 43089)
('10452', 42737)
('11385', 41621)
('10458', 40291)
('10457', 40223)
('10456', 38989)
('11207', 37891)
('11201', 37793)
('10453', 37229)
('11208', 35158)
('10031', 33011)
('11221', 32413)
('10466', 31562)
('10032', 31304)
('10462', 30014)
('10025', 29866)
('11238', 29621)
('11230', 28457)
('11368', 28289)
('11220', 28010)
('11216', 27591)
('11225', 27548)
('11235', 26810)
('11212', 26517)
('10460', 26340)
('10019', 26319)
('10463', 26229)
('11203', 25999)
('11214', 25956)
('10023', 25756)
('11213', 25211)
('10027', 25071)
('11377', 24968)
('11222', 24787)
('10472', 24741)
('11101', 24705)
('11206', 24704)
('11211', 24654)
('10002', 24577)
('11215', 24416)
('11209', 24358)
('11233', 24306)
('11234', 23902)
('11218', 23877)
('11373', 23259)
('10033', 23005)
('11223', 23000)
('11237', 22739)
('11229', 21986)
('10461', 21604)
('11236', 21474)
('10034', 21280)
('10011', 21223)
('11204', 20982)
('10026', 20757)
('10003', 20590)
('10469', 20406)
('11210', 20367)
('10029', 20157)
('10009', 20105)
('10451', 19971)
('10459', 19829)
('10036', 19813)
('11217', 19668)
('10040', 19262)
('11231', 19201)
('11372', 19169)
('11432', 18930)
('11419', 18755)
('10314', 18744)
('11420', 18447)
('11378', 18311)
('11219', 18269)
('11355', 18234)
('11375', 18213)
('11366', 18207)
('10455', 17935)
('10035', 17839)
('10030', 17728)
('11421', 16154)
('11205', 16116)
('10016', 16020)
('10312', 15873)
('11435', 15822)
('11414', 15798)
('11434', 15514)
('11691', 15359)
('10024', 15241)
('10473', 14989)
('10306', 14882)
('11103', 14882)
('11106', 14436)
('11224', 14113)
('11379', 13859)
('11105', 13674)
('11433', 13558)
('10465', 13470)
('10028', 13324)
('10301', 13253)
('10454', 13201)
('11354', 13037)
('10014', 12707)
('11249', 12515)
('10304', 12241)
('11369', 12148)
('11357', 12073)
('10001', 12037)
('11102', 11885)
('11232', 11859)
('10013', 11815)
('11374', 11751)
('10039', 11693)
('11228', 11432)
('11417', 11419)
('11418', 11243)
('11239', 10985)
('10012', 10935)
('10128', 10836)
('10305', 10329)
('11358', 10046)
('11365', 9701)
('11412', 9664)
('11413', 9655)
('10309', 9473)
('11356', 9337)
('11104', 9206)
('10021', 9069)
('10022', 8952)
('10470', 8614)
('11367', 8296)
('11361', 8106)
('11416', 8089)
('11694', 7928)
('11423', 7783)
('10037', 7617)
('10010', 7514)
('10065', 7440)
('11422', 7243)
('10471', 7233)
('10018', 7190)
('11436', 7079)
('11370', 6966)
('10474', 6664)
('10308', 6490)
('11364', 6484)
('10038', 6475)
('10310', 6445)
('10303', 6362)
('10302', 6246)
('10017', 6066)
('11429', 5615)
('11415', 5440)
('11692', 5439)
('10075', 5400)
('11411', 5055)
('11428', 5050)
('11427', 4675)
('11693', 3994)
('11426', 3786)
('10007', 3759)
('11360', 3644)
('10307', 3620)
('10475', 3394)
('11430', 3036)
('11362', 2969)
('10004', 2431)
('10464', 2386)
('11004', 2189)
('10005', 1959)
('11109', 1786)
('11363', 1744)
('10006', 1530)
('10044', 1039)
('11001', 780)
('10282', 712)
('10000', 681)
('11040', 621)
('10069', 569)
('10280', 521)
('10169', 408)
('10020', 391)
('10121', 286)
('10107', 228)
('10278', 184)
('10105', 164)
('10153', 153)
('11359', 145)
('11697', 109)
('10172', 92)
('10151', 83)
('10103', 81)
('10281', 68)
('10118', 52)
('12345', 51)
('10120', 48)
('10106', 45)
('11005', 45)
('11251', 41)
('10162', 39)
('10119', 35)
('10041', 33)
('10271', 31)
('10112', 28)
('10045', 26)
('10168', 24)
('10170', 24)
('10110', 24)
('10171', 24)
('10178', 22)
('10154', 22)
('10158', 21)
('10048', 19)
('11371', 19)
('11241', 18)
('10123', 17)
('10179', 16)
('10174', 16)
('10279', 15)
('10165', 14)
('10177', 13)
('10111', 12)
('11695', 11)
('11242', 11)
('10115', 11)
('10176', 8)
('10152', 7)
('10166', 7)
('10173', 5)
('10167', 4)
('10122', 4)
('10155', 4)
('10803', 4)
('00083', 2)
('10055', 2)
('10175', 1)
('29601', 1)
('33496', 1)
('10550', 1)
('45040', 1)
('10080', 1)

### Query 2: Where has the most greenery?
10 zip codes that have the most tree.

In [157]:
QUERY_2_FILENAME = QUERY_DIR / "mosttrees_per_zipcode.sql"
"""Top10 Zipcode with the most trees"""
# SQL Query
QUERY_2 = """
SELECT zipcode, COUNT(tree_id) as ttl_trees
FROM nyc_trees
GROUP BY zipcode
ORDER BY ttl_trees DESC
LIMIT 10;
"""

# Writing SQL to a file
write_query_to_file(QUERY_2, QUERY_2_FILENAME)

# Executing Query
with engine.connect() as conn:
    result = conn.execute(text(QUERY_2))
    for row in result:
        print(row)

('10312', 21356)
('10314', 16330)
('10306', 12616)
('10309', 12106)
('11234', 10838)
('11385', 10262)
('11357', 9016)
('11207', 8293)
('11208', 7896)
('11434', 7833)

### Query 3: Can I afford a place in the areas with the most trees?
Of the 10 zip codes with the most trees, for the month of January 2024, the average rent by zip code.

In [158]:
QUERY_3_FILENAME = QUERY_DIR / "mosttrees_average_rent_byzipcode_jan24.sql"


QUERY_3 = """
SELECT top_trees.zipcode AS "Zip Code",
       COALESCE(TO_CHAR(ROUND(AVG(CAST(rents."2024-01-31" AS NUMERIC)), 2), 'FM9,999.99'), 'No Data') AS "Average Rent"
FROM (
    SELECT LPAD(CAST(zipcode AS TEXT), 5, '0') AS zipcode, COUNT(tree_id) as total_trees
    FROM nyc_trees
    WHERE zipcode IS NOT NULL
    GROUP BY LPAD(CAST(zipcode AS TEXT), 5, '0')
    ORDER BY COUNT(tree_id) DESC
    LIMIT 10
) AS top_trees
LEFT JOIN nyc_rents rents ON top_trees.zipcode = LPAD(rents."RegionName"::text, 5, '0')
GROUP BY top_trees.zipcode, top_trees.total_trees
ORDER BY top_trees.total_trees DESC;
"""

# Writing SQL to a file
write_query_to_file(QUERY_3, QUERY_3_FILENAME)


# Execute the query and print the results
with engine.connect() as conn:
    result = conn.execute(text(QUERY_3))
    rows = result.fetchall()  # Fetch all rows from the executed query

# Print results
for row in rows:
    # If row is a tuple, we'll convert it to a dictionary using the keys from the result
    row_dict = dict(zip(result.keys(), row))
    print(f"Zip Code: {row_dict['Zip Code']}, Average Rent: {row_dict['Average Rent']}")

Zip Code: 10312, Average Rent: 2,003.33
Zip Code: 10314, Average Rent: 2,315.71
Zip Code: 10306, Average Rent: 2,188.89
Zip Code: 10309, Average Rent: 1,800.
Zip Code: 11234, Average Rent: 2,791.67
Zip Code: 11385, Average Rent: 2,880.09
Zip Code: 11357, Average Rent: 2,575.
Zip Code: 11207, Average Rent: 2,931.28
Zip Code: 11208, Average Rent: 2,704.61
Zip Code: 11434, Average Rent: 2,500.

### Query 4: Could there be a correlation between an area’s rent, the number of its trees, and the number of 311 complaints?
For the month of January 2024, return the 5 zip codes with the lowest average rent, and 5 zipcodes of the highest average rent, and include the tree count and complaint count for each zip code by using JOIN statements.

The query result should have 4 columns (zip code, average rent, tree count, and complaint count) and 10 rows: five with the highest average rent, and five with the lowest average rent. “Humanize” the rent numbers, meaning format the results as 2,879.58 instead of 2879.575128.

In [160]:
QUERY_4_FILENAME = QUERY_DIR / "corr_rent_tree_complaint.sql"

# SQL script to drop existing views if they exist, including the additional views
drop_views = """
DROP VIEW IF EXISTS tree_count_view CASCADE;
DROP VIEW IF EXISTS complaint_count_view CASCADE;
DROP VIEW IF EXISTS average_rent_view CASCADE;
DROP VIEW IF EXISTS view_complaints CASCADE;          -- Drop if exists
DROP VIEW IF EXISTS view_trees_new CASCADE;
DROP VIEW IF EXISTS view_complaints_new CASCADE;      -- Drop if exists
"""

# SQL script for creating views with new names
view_creation_scripts = """
-- Create view for tree counts
CREATE OR REPLACE VIEW tree_count_view AS
SELECT zipcode::text, COUNT(tree_id) AS ttl_trees
FROM nyc_trees
GROUP BY zipcode;

-- Create view for complaint counts
CREATE OR REPLACE VIEW complaint_count_view AS
SELECT incident_zip::text AS zipcode, COUNT(unique_key) AS ttl_complaints
FROM "nyc_311_complaints"
WHERE DATE(created_date) BETWEEN '2024-01-01' AND '2024-01-31'
GROUP BY incident_zip;

-- Create view for average rent
CREATE OR REPLACE VIEW average_rent_view AS
SELECT "RegionName"::text AS zipcode,
ROUND(AVG("2024-01-31")::numeric, 2) AS average_rent
FROM nyc_rents
GROUP BY "RegionName"
ORDER BY average_rent;
"""

# SQL query for retrieving data, using new view names
data_retrieval_query = """
(SELECT 
    t.zipcode,  -- Use alias to specify which zipcode to use
    t.ttl_trees,
    c.ttl_complaints,
    r.average_rent
FROM tree_count_view t
LEFT JOIN complaint_count_view c ON t.zipcode = c.zipcode
LEFT JOIN average_rent_view r ON t.zipcode = r.zipcode
WHERE r.average_rent IS NOT NULL
ORDER BY r.average_rent DESC
LIMIT 5)

UNION ALL

(SELECT 
    t.zipcode,  -- Use alias to specify which zipcode to use
    t.ttl_trees,
    c.ttl_complaints,
    r.average_rent
FROM tree_count_view t
LEFT JOIN complaint_count_view c ON t.zipcode = c.zipcode
LEFT JOIN average_rent_view r ON t.zipcode = r.zipcode
WHERE r.average_rent IS NOT NULL
ORDER BY r.average_rent ASC
LIMIT 5);
"""
# Writing SQL to a file
write_query_to_file(drop_views, QUERY_4_FILENAME)
write_query_to_file(view_creation_scripts, QUERY_4_FILENAME)
write_query_to_file(data_retrieval_query, QUERY_4_FILENAME)

# Execute drop views, create new views and retrieve data

try:
    with engine.begin() as conn:  # Using begin() to ensure the transaction is automatically committed
        conn.execute(text(drop_views))          # First, drop any existing views
        conn.execute(text(view_creation_scripts))  # Then create new views
    df = pd.read_sql_query(data_retrieval_query, engine)  # Finally, retrieve data
    print(df)
except Exception as e:
    print("An error occurred:", e)

  zipcode  ttl_trees  ttl_complaints  average_rent
0   10282        230              60       6906.67
1   10007        338             305       6836.26
2   10013       1132             812       6282.18
3   10069        112              37       5077.63
4   10004        117             365       5030.42
5   10309      12106             696       1800.00
6   11428       2615             363       1937.50
7   10457       3912            4674       1957.78
8   10312      21356             908       2003.33
9   10453       2874            3515       2015.44

### Query 5: Where has the most greenery (take 2)?
Rewrite Query 2 to use both the trees table and the zipcodes table. Join both tables where the coordinate point of the tree is inside the polygon boundary of the zipcode as defined in the zipcode table.

In [163]:
QUERY_5_FILENAME = QUERY_DIR / "mosttrees_per_zipcode_polygonboundary.sql"

# SQL query for spatial join to find the top 10 zip codes with the most trees
QUERY_5 = """
SELECT z."ZIPCODE", COUNT(t.tree_id) AS ttl_trees
FROM nyc_trees AS t
JOIN nyc_zipcodes AS z 
  ON ST_Contains(
       z.geometry, 
       ST_SetSRID(
         ST_MakePoint(
           CAST(t.longitude AS float), 
           CAST(t.latitude AS float)
         ), 
         4326
       )
     )
WHERE t.latitude IS NOT NULL AND t.longitude IS NOT NULL
GROUP BY z."ZIPCODE"
ORDER BY ttl_trees DESC
LIMIT 10;
"""

# Writing SQL to a file
write_query_to_file(QUERY_5, QUERY_5_FILENAME)

# Execute the spatial join query and retrieve data
try:
    df = pd.read_sql_query(spatial_join_query, engine)  # Retrieve data into DataFrame
    print(df)
except Exception as e:
    print("An error occurred:", e)

  ZIPCODE  ttl_trees
0   10312      21356
1   10314      16330
2   10306      12616
3   10309      12106
4   11234      10838
5   11385      10262
6   11357       9016
7   11207       8294
8   11208       7897
9   11434       7833

### Query 6: What is the immediate area like?
Using the following coordinate pair on campus, which trees are within ½ mile radius of this point?
Latitude: `40.80737875669467`, Longitude: `-73.96253174434912`

In [165]:
QUERY_6_FILENAME = QUERY_DIR / "trees_immediate_area.sql"

# Coordinates for the specified point on campus
latitude = 40.80737875669467
longitude = -73.96253174434912
radius_in_meters = 804.672  # Radius in meters

# Correct the SQL query to ensure proper geospatial comparisons with explicit casting to FLOAT
QUERY_6 = """
SELECT 
    tree_id AS "ID", 
    spc_common AS "Species", 
    health AS "Health", 
    status AS "Status",
    ST_AsText(ST_SetSRID(ST_MakePoint(CAST(longitude AS FLOAT), CAST(latitude AS FLOAT)), 4326)) AS "Coordinates"
FROM 
    nyc_trees
WHERE 
    ST_DWithin(
        ST_SetSRID(ST_MakePoint(CAST(longitude AS FLOAT), CAST(latitude AS FLOAT)), 4326)::geography,  -- Convert to geography for meter calculation
        ST_SetSRID(ST_MakePoint(:long, :lat), 4326)::geography,                                        -- Reference point as geography
        :radius                                                                                       -- Distance in meters
    );
"""
# Writing SQL to a file
write_query_to_file(QUERY_6, QUERY_6_FILENAME)

# Execute the query and retrieve data
try:
    df = pd.read_sql_query(spatial_query, engine, params={'long': longitude, 'lat': latitude, 'radius': radius_in_meters})
    if df.empty:
        print("No trees found within the specified radius.")
    else:
        print(df)
except Exception as e:
    print("An error occurred:", e)

          ID           Species Health Status                      Coordinates
0     198514           pin oak   Good  Alive   POINT(-73.9620798 40.80230109)
1     209919  London planetree   Good  Alive  POINT(-73.96331506 40.80881155)
2     209921  London planetree   Good  Alive  POINT(-73.96340334 40.80874458)
3     203887        willow oak   Good  Alive  POINT(-73.96071917 40.80572583)
4     196440      American elm   Fair  Alive  POINT(-73.96412322 40.81114538)
...      ...               ...    ...    ...                              ...
2767  188994            ginkgo   Fair  Alive  POINT(-73.95846106 40.80830091)
2768  189186            ginkgo   Poor  Alive  POINT(-73.95820478 40.80808229)
2769  198518  London planetree   Fair  Alive  POINT(-73.96153781 40.80207316)
2770  186783       scarlet oak   Good  Alive  POINT(-73.96550795 40.80376221)
2771  187077            ginkgo   Good  Alive  POINT(-73.96002723 40.80075951)

[2772 rows x 5 columns]